
body {
	background-color: #00FF00;
}

.main-contents {
	background-color: #00FF00;
	height: 100%;
	width: 800px;
}

head {
	text-align: right;
}

.messages {
	background-color: #00FF00;
}

label {
	display: block;
}

.errorMessages {
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	color: red;
}
